
$formBorderGray: #DDDDDD;
$formErrorRed: #A94442;
$formErrorLightRed: #e26e6b;

$white: #FFFFFF;
$black: #000000;

$lightGrayBorder: #C8C8C8;

// Design Spec colors
$lightBlue: #5C85B1;
$lightGray: #636363;
