
$formBorderGray: #DDDDDD;
$formErrorRed: #A94442;
$formErrorLightRed: #e26e6b;

$white: #FFFFFF;
$black: #000000;

$lightGrayBorder: #C8C8C8;
$veryLightGray: #E7E7E7;
$bootstrapGrayButton: #DDDDDD;

// Design Spec colors
$backgroundBlue: #273039;
$lightBlue: #5C85B1;
$darkBlue: #3F5B7B;
$lightGray: #636363;
